@import "bootstrap/bootstrap";
@import "font";
@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
@blue: #337ab7;
body, label, .checkbox label {
	font-weight: 300;
}
.clear{
	clear: both;
}
.hide,.hidden{
	display: none;
}
.modal{
	img{
		max-width: 100%;
		height: auto;
	}
	.modal-body p{
		line-height: 1.7em;
	}
}
input.code{
	border: 1px solid #ccc;
	background-color: #efefef;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 0 rgba(200,200,200,1);
	padding: 15px;
	width: 100%;
}